/* variable */

/* 
	color palette : 

<<<<<<< HEAD
#123C69 reddish i think ?
#BAB2B5
#EEE2DC
#EDC7B7
=======
	#123C69 (Dark blue)

	#BAB2B5 (Gray)

	#EEE2DC (Dirty white)

	#EDC7B7 (Orange)


	fonts: 
<link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico|Fredericka+the+Great" rel="stylesheet">
font-family: 'Oswald', sans-serif;


*/

/*----------------
    page setup 
-----------------*/

html {
	margin: 0;
	padding: 0;
}

main {
	font-family: 'Montserrat', sans-serif;
}

/*-------------------
    Element styles 
---------------------*/

/* header */

header {

}

nav {

}

/* footer */

footer {

}

/* Title */

.page-title {
	text-align: center;
}

/*---------------
    Tours page 
----------------*/

.tours {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	background-color: #BAB2B5;
}

.tour-card {
	margin: 5%;
	width: 300px;
	padding: 10px;
	box-shadow: 1px 2px 5px gray;
	transition: 0.5s;
	background-color: #EEE2DC;
}

.tour-card:hover {
	box-shadow: 3px 5px 5px gray;	
}

.tour-title {
	margin: 0 auto;
	text-align: center;
	margin: 5px;
}

.tour-card img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.tour-card a {
	text-decoration: none;
	padding: 5px;
	transition: 1s;
	background-color: coral;
	color: white;
	border: 1px solid coral;
}

.tour-card a:hover {
	box-shadow: 1px 2px 5px coral;
}

/*-------------------
    Media Queries 
--------------------*/



/*--------------------------
    Animations keyframes 
---------------------------*/

/*--------------------------
   Natural html css - Adel
---------------------------*/

#Natural_Tour{
	display: flex;
	justify-content: center;
	font-family: 'Fredericka the Great', cursive;
}
.info{
	font-family: 'Oswald', sans-serif;
}
.tour-description, h3{
	font-family: 'Fredericka the Great', cursive;
	display: flex;
	justify-content: center;
}


/*Choose your own tour*/
.nature_form, h3{
	display: flex;
	justify-content: center ;
}



/*the container*/
/*have the tours be centralised and wrapped*/
.Tourgroup{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}

/*each tour*/
.naturaltours{
	width: 500px;
	margin: 10px;
}
/*separating the image by using display: block;*/
.naturaltours img{
	display: block;
	margin: 0px auto ;
	width: 100%;
	border-radius: 60%;
}
/*centralising the paragraph*/
.naturaltours p{
	font-family: 'Oswald', sans-serif;
	display: flex;
	justify-content: center;	
}
/*centralising the header*/
.naturaltours h1{
	font-family: 'Fredericka the Great', cursive;
	display: flex;
	justify-content: center;
}
.natural_form {
	display: flex;
	justify-content: center;
}
