/* variable */

/* 
	color palette : 
    #123C69 reddish i think ?
    #BAB2B5
    #EEE2DC
    #EDC7B7

	#123C69 (Dark blue)

	#BAB2B5 (Gray)

	#EEE2DC (Dirty white)

	#EDC7B7 (Orange)


	fonts: 
<link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico|Fredericka+the+Great" rel="stylesheet">
font-family: 'Oswald', sans-serif;


*/

/*----------------
    page setup 
-----------------*/

html, body {
	margin: 0;
	padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #EDC7B7;
}

main {
    animation: loaderUp 0.5s 0s 1 ease-out;
}
/*general styles*/
a {
    text-decoration: none;
}

section {
    margin: 2em 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*-------------------
    Element styles 
---------------------*/


/* header */

header {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    animation: loaderDown 0.5s 0s 1 ease-out;
}

header a {
    text-decoration: none;
    color: #AC3B61;
}

.logo {
    font-family: 'Fredericka the Great';
    font-size: 70px;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 30px;
}

nav li {
    margin: 0 0.5em;
    font-family: 'Oswald', sans-serif;
}

/* footer */

footer {
    background-color: #123C69;
    text-align: center;
    color: #CCC5C2;
    font-family: 'Oswald', sans-serif;
    padding: 0.5em 0;
}

.footer-header {
    text-transform: uppercase;
    font-size: 25px;
}

.socialmedia {
    display: inline-flex;
    margin: 0.5em 0;
}

.socialmedia a {
    margin: 0 20px;
}

a[href="mailto:7wonderes@xyz.com"] {
    color: white;
    border-bottom: 1px white solid;
}

.desginers {
    font-size: 12px;
}

/* Title */

.page-title {
	text-align: center;
    font-size: 12em;
    font-weight: 100;
}


/*---------------
    Home page 
----------------*/

/*wdwd*/
.wdwd {
    font-family: 'Oswald', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*about*/
.about {
    font-family: 'Oswald', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-icons {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.about-desc {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about img {
    width: 100px;
    object-fit: contain;
}


/*tours redirection*/
.tour-overview {
    width: 90%;
    font-family: 'Oswald', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tour-overview-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour-overview h1, .about h1, .wdwd h1 {
    width: 100%;
    color: #123C69;
    margin: 0 0 10px 0;
    font-size: 50px;
    text-align: center;
}

.tour-overview-flex div {
    width: 330px;
    height: 220px;
    color: white;
    text-transform: uppercase;
    position: relative;
    background-size: cover;
    border-radius: 0.5em;
}

.tour-overview span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modern {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../media/great pyramid of giza.jpg");
}

.natural {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../media/pretty pretty aurora.jpg");
}

.ancient {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../media/great wall of china.jpg");
}

.tour-overview .button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #BAB2B5;
    color: black; /*white*/
    border-radius: 0.2em;
    background-color: #BAB2B5;
    color: black;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;

    /*added here because .shadow isn't working*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s box-shadow;
}

/*---------------
    Tours page 
----------------*/
    .tours {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        /*background-color: #BAB2B5;*/
    }

.tour-card {
	margin: 5%;
	width: 300px;
	padding: 10px;
	box-shadow: 1px 2px 5px gray;
	transition: 0.5s;
	background-color: #EEE2DC;
}

.tour-card:hover {
	box-shadow: 3px 5px 5px gray;	
}

.tour-title {
	margin: 0 auto;
	text-align: center;
	margin: 5px;
}

.tour-card img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.tour-card a {
	text-decoration: none;
	padding: 5px;
	transition: 1s;
	background-color: coral;
	color: white;
	border: 1px solid coral;
}

.tour-card a:hover {
	box-shadow: 1px 2px 5px coral;
}

/*-------------------
    Media Queries 
--------------------*/
@media only screen and (max-width: 1200px) {
    .tour-overview-flex {
        flex-direction: column;
        align-items: center;
    }

    .tour-overview-flex > div {
        margin: 1em 0;
        width: 500px;
    }

    .modern-desc {
        padding: 0 100px !important;
    }
}

@media only screen and (max-width: 800px) {

    header {
        flex-direction: column;
    }

    .logo {
        font-size: 55px;
    }

    .tour-overview h1, .about h1, .wdwd h1 {
        font-size: 40px;
    }

    header ul {
        padding: 0;
    }


    .about-icons {
        flex-direction: column;
        align-items: center;
    }

    .about-desc {
        width: 300px;
        margin: 1em 0;
    }

    .tour-overview-flex > div {
        margin: 1em 0;
        width: 300px;
    }

    .general-form, .ancient-form, .modern-form {
        width: 90% !important;
    }
}



/*--------------------------
    Animations keyframes 
---------------------------*/

/*--------------------------
   Natural html css - Adel
---------------------------*/

#Natural_Tour {
	display: flex;
	justify-content: center;
	font-family: 'Fredericka the Great', cursive;
}

.tour-description, h3 {
	font-family: 'Fredericka the Great', cursive;
	display: flex;
	justify-content: center;
}


/*Choose your own tour*/
.nature_form, h3 {
	display: flex;
	justify-content: center ;
}



/*the container*/
/*have the tours be centralised and wrapped*/
.Tourgroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}

/*each tour*/
.naturaltours{
	width: 250px;
	margin: 10px;

}
/*separating the image by using display: block;*/
.naturaltours img{
	display: block;
    height: 250px;
	margin: 0px auto;
	width: 100%;
	border-radius: 60%;
    border-style: solid;
    border-color: white
}
/*centralising the paragraph*/
.naturaltours p{
	display: flex;
	justify-content: center;	
}
/*centralising the header*/
.naturaltours h1{
	font-family: 'Fredericka the Great', cursive;
	display: flex;
	justify-content: center;
}
.natural_form {
	display: flex;
	justify-content: center;
}

/*--------------------------
        Credits -Adel
---------------------------*/
#creditsh2{
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    justify-content: center;
}
.group_credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
}

.members{
    width: 250px;
    margin: 10px;

}
.members img{
    display: block;
    height: 250px;
    margin: 15px;
    width: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: white
}
.members .html {
    display: flex;
    justify-content: center;
}
/*------------------
    Ancient page
--------------------*/

.ancient-description {
    width: 50%;
    margin: 0 auto;
}

.ancient-title {
    text-align: center;
    font-size: 3em;
}

.ancient-description img {
    width: 300px;
    display: block;
    margin: 1vw;
    border: 5px solid white;
    box-shadow: 2px 3px 5px gray;
    transition: 0.2s;
}

.ancient-description img:hover {
    box-shadow: 3px 4px 7px gray;
}

.ancient-list-title {
    font-weight: 500;
    font-size: 2em;
}

.ancient-list {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.ancient-list li {
    list-style: none;
    line-height: 2.5em;
}

.ancient-form {
    width: 50%;
    margin: 0 auto;
}

.ancient-form input {
    margin: 10px 5px;
}



/*------------------
    Modern page
--------------------*/
.modern-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.modern-desc {
    padding: 0 300px;
}

.modern-container p {
    margin: 0.5em 0 1em 0;
}

.modern-container h1 {
    width: 100%;
}

.modern-container img {
    background-color: white;
    padding: 5px;
}

.modern-cards {
    width: 300px;
    margin: 0 1em;
}

.modern-cards img {
    object-fit: cover;
    width: 300px;
}

.modern-form {
    width: 50%;
    margin: 1em auto;
}

/*----------------
General animations
------------------*/

/*this is not working*/
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s box-shadow;
}

/*but this is??*/
.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.underline-mid {
    position: relative;
}

.underline-mid::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #AC3B61;
    transform: scaleX(0);
    transition: 0.5s ease;
}

.underline-mid:hover::after {
    transform: scaleX(1);
}



@keyframes loaderDown {
  0% {
    transform: translateY(-100%);
    visibility: 0;
  }
  100% {
    transform: translateY(0);
    visibility: 1;  
}
}


@keyframes loaderUp {
  0% {
    visibility: 0;
    transform: translateY(25%);

}

  100% {
    visibility: 1;
    transform: translateY(0);
  }
}

#isItLoaded {
  display: none;
}

#loading {
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

