/* variable */

/* 
	color palette : 

<<<<<<< HEAD
#123C69 reddish i think ?
#BAB2B5
#EEE2DC
#EDC7B7
=======
	#123C69 (Dark blue)

	#BAB2B5 (Gray)

	#EEE2DC (Dirty white)

	#EDC7B7 (Orange)
>>>>>>> 0b10d1090043984522191ea98baabbeccd0a366a

	fonts: 
<link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico" rel="stylesheet">
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;

*/

/*----------------
    page setup 
-----------------*/
\
html {
	margin: 0;
	padding: 0;
}

main {
	font-family: 'Montserrat', sans-serif;
}

/*-------------------
    Element styles 
---------------------*/

/* header */

header {

}

nav {

}

/* footer */

footer {

}

body {

	margin: 0px;

}

.page-title {
	text-align: center;
}

/*---------------
    Tours page 
----------------*/

.tours {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	background-color: #BAB2B5;
}

.tour-card {
	margin: 5%;
	width: 300px;
	padding: 10px;
	box-shadow: 1px 2px 5px gray;
	transition: 0.5s;
	background-color: #EEE2DC;
}

.tour-card:hover {
	box-shadow: 3px 5px 5px gray;	
}

.tour-title {
	margin: 0 auto;
	text-align: center;
	margin: 5px;
}

.tour-card img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.tour-card a {
	text-decoration: none;
	padding: 5px;
	transition: 1s;
	background-color: coral;
	color: white;
	border: 1px solid coral;
}

.tour-card a:hover {
	box-shadow: 1px 2px 5px coral;
}
/*-------------------
    Media Queries 
--------------------*/



/*--------------------------
    Animations keyframes 
---------------------------*/

/*--------------------------
   Natural html css - Adel
---------------------------*/
.tour_image{
	background-image: url(../media/aurora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 400px;
}
#Natural_Tour{
	display: flex;
	justify-content: center;
	
}