<head>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Oswald" rel="stylesheet">
</head>
<footer>

    <div class="footer-header">Discover the wonders of the world</div>

    <div class="socialmedia">
        <a href="https://www.instagram.com"><img src="../media/social media/insta.svg" alt="Instagram" /></a>
        <a href="https://www.facebook.com"><img src="../media/social media/facebook.svg" alt="Facebook" /></a>
        <a href="https://www.twitter.com"><img src="../media/social media/twitter.svg" alt="Twitter" /></a>
    </div>
    
    <div>Contact us at 7wonders@xyz.com</div>
	<p class="desginers">Designed by : JayZ - Ana - Adel</p>

</footer>